{
    "db" : {
        "username" : "root",
        "password" : "root",
        "host" : "localhost",
        "dbname" : "mydbname"
    },
    "app" : {
        "basePath" : "/var/www/html/cosmo/web",
        "baseUrl" : "http://localhost/",
        "env" : "prod"
    }

}
